.root {
    -fx-background-image: url("/ui/fondo_(1).jpg");
    -fx-background-size: cover; /* La imagen cubre todo el área */
    -fx-background-position: center center; /* Centra la imagen */
}

.button {
    -fx-background-color: #555; /* Color de fondo del botón */
    -fx-text-fill: white; /* Color del texto del botón */
    -fx-font-size: 20px; /* Tamaño de fuente del botón */
    -fx-pref-width: 200; /* Ancho preferido del botón */
    -fx-pref-height: 50; /* Alto preferido del botón */
}


.button:hover {
    -fx-background-color: #888; /* Color de fondo al pasar el mouse */
}
