.root {
    -fx-background-image: url("/ui/fondo_(1).jpg");
    -fx-background-size: cover; /* La imagen cubre todo el área */
    -fx-background-position: center center; /* Centra la imagen */
}

.button {
    -fx-background-color: #555; /* Color de fondo del botón */
    -fx-text-fill: white; /* Color del texto del botón */
    -fx-font-size: 20px; /* Tamaño de fuente del botón */
    -fx-pref-width: 200; /* Ancho preferido del botón */
    -fx-pref-height: 50; /* Alto preferido del botón */
}
.welcome-text {
    -fx-font-size: 30px; /* Tamaño de la fuente */
    -fx-font-weight: bold; /* Negrita */
    -fx-text-fill: #FFD700; /* Color dorado */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 5, 0, 0, 1); /* Sombra para un efecto de profundidad */
    -fx-padding: 10; /* Espaciado alrededor del texto */
    -fx-background-color: rgba(0, 0, 0, 0.3); /* Fondo semi-transparente */
    -fx-background-radius: 10; /* Esquinas redondeadas */
}


.button:hover {
    -fx-background-color: #888; /* Color de fondo al pasar el mouse */
}
