.root {
    -fx-background-image: url("/ui/fondoClaro.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
.welcome-text {
    -fx-text-fill: #000000;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-padding: 10;
}
.button {
    -fx-background-color: rgba(70, 130, 180, 0.8); /* Un azul suave */
    -fx-text-fill: white; /* Cambiar a texto blanco para mejor contraste */
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-background-radius: 10;
    -fx-border-color: #00FFFF; /* Puedes dejarlo igual o cambiar a un color que combine */
    -fx-border-width: 2;
    -fx-pref-width: 110px;
    -fx-pref-height: 45px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 0, 2);
}

.button:hover {
    -fx-background-color: rgba(135, 206, 235, 0.9); /* Azul claro al pasar el ratón */
    -fx-text-fill: black; /* Texto negro para contraste */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 8, 0, 0, 3);
}

.button:pressed {
    -fx-background-color: rgba(0, 102, 204, 0.9); /* Un azul más oscuro al presionar */
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0, 0, 1);
}

